{{ partial "header.html" . }}

{{ partial "intro.html" . }}


	{{ range (where .Data.Pages ".Params.hidefromhome" "!=" "true") }}
	{{if .Param "bgcolor"}}
	<div class="full bg{{ .Param "bgcolor"}}">
	{{ end }}
	<div class="container">
		<div class="twothirds center mobilefull">
			<h3 class="headingMedium mobiletextcenter" itemprop="headline">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h2>
			<div class="half line bg{{ .Param "color"}} mobilecenter"></div>
			{{ .Content }}
		</div>
	</div>


	{{if .Param "wideimg"}}
	<div class="full">
		<img class="wideimg" src="{{ .Param "wideimg"}}">
	</div>
	{{ end }}

	{{if .Param "illustration"}}
	<div class="full tapp bg{{ .Param "illustrationbg"}}">
		<div class="twothirds mobilefull center">
			<img src="{{.Param "illustration"}}" class="illustration"/>
			<p class="textcenter caption">{{ .Param "caption"}}</p>
		</div>

	</div>
	{{ end }}

	{{if .Param "illustration_large"}}
	<div class="full tapp bg{{ .Param "illustrationbg"}}">
		<div class="twothirds mobilefull center">
			<img src="{{.Param "illustration_large"}}" class="illustration_large"/>
			<img src="{{.Param "illustration_small"}}" class="illustration_small"/>
			<p class="textcenter caption">{{ .Param "caption"}}</p>
		</div>

	</div>
	{{ end }}
	{{if .Param "bgcolor"}}
	</div>
	{{ end }}
	{{if .Param "bgwide"}}
	</div>
	{{ end }}
{{ end }}
	</container>

{{ partial "footer.html" . }}
