{{ partial "header.html" . }}

{{ partial "intro.html" . }}


	{{ range (where .Data.Pages ".Params.hidefromhome" "!=" "true") }}
	{{if .Param "bgcolor"}}
	<div class="full bg{{ .Param "bgcolor"}}">
	{{ end }}
	<div class="container">
		<div class="twothirds center mobilefull">
			<h3 class="headingMedium mobiletextcenter" itemprop="headline">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h2>
			<div class="half line bg{{ .Param "color"}} mobilecenter"></div>
			<p>{{ .Content }}  </p>
		</div>
	</div>
	{{if .Param "illustration"}}
	<div class="full tapp bg{{ .Param "illustrationbg"}}">
		<div class="twothirds mobilefull center">
			<img src="{{.Param "illustration"}}" class="illustration"/>
		</div>
	</div>
	{{ end }}
	{{if .Param "bgcolor"}}
	</div>
	{{ end }}
{{ end }}
	</container>

{{ partial "footer.html" . }}
